
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.navbar {
    background: #2f3c56;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.nav-left img { width: 120px; }

.nav-center a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
}

.btn-profile {
    background: #5bb6b6;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}



.footer {
    margin-top: auto; /* Pousse le footer en bas */
    background: #2f3c56;
    color: #fff;
    padding: 50px 20px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}